<%- include('header');%>

<!--product-detail-->
<section class="product-detail my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="bg-light p-3 rounded">
                    <img id="product-img" src="<%= product.productImg %>" alt="">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bg-light p-4 rounded">
                            <div class="info">
                                <h1 id="product-name"><%= product.productName %></h1>
                                <h5>by <span class="brand" id="product-brand"><%= product.productBrand %></span></h5>
                                <div class="price-tag text-36 my-2" id="product-price"
                                    data-price="<%= product.productPrice %>">$<%= product.productPrice %></div>
                            </div>

                            <div class="order mb-4">
                                <div class="mt-4">
                                    <div class="form-group row mr-0">
                                        <label for="quantity" class="col-md-2 col-form-label">Quantity</label>
                                        <input type="number" name="product-quantity" class="form-control col-md-1"
                                               id="product-quantity" value="1" min="1" max="<%= product.productStock %>">
                                        <div class="col-md-9 col-form-label"><%= product.productStock %> piece(s) available</div>
                                    </div>
                                    <button
                                        class="add-cart btn btn-warning text-uppercase text-bold text-white text-12 mr-2">
                                        Add to cart
                                    </button>
                                    <a class="btn btn-dark text-uppercase text-bold text-white text-12"
                                        href="<%= product.productDoc %>">
                                        Download detailed features
                                    </a>
                                </div>
                            </div>

                            <div class="detail mb-4">
                                <div class="bg-white p-2">
                                    Product detail
                                </div>
                                <div class="mt-4">
                                    <ul>
                                        <li>Category: <%= product.productCategory %></li>
                                        <li>Brand: <%= product.productBrand %></li>
                                        <li>Color: <%= product.productColor %></li>
                                        <li>Size: <%= product.productSize %></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="description mb-4">
                                <div class="bg-white p-2">
                                    Description
                                </div>
                                <div class="mt-4">
                                    <%= product.productDesc %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  similar product start-->
<section class="similar mt-4 bg-light">
    <div class="container pt-2">
        <div class="text-left d-block bg-white p-2 my-2 text-24">
            Similar Products
        </div>
        <!-- carousel start -->
        <div class="py-4 similar-slider">
            <% sameBrandProduct.forEach(element => { %>
            <!-- category product start -->
            <div class="category-product px-2">
                <!-- product img start-->
                <div class="category-product-img">
                    <a href="/product/<%= element.productPermalink %>">
                        <img src="<%= element.productImg %>" alt="" srcset="">
                    </a>
                </div>
                <!-- product img end-->

                <!-- product title start -->
                <div class="category-product-title">
                    <!-- clearfix start -->
                    <div class="clearfix">
                        <!-- float left start -->
                        <div class="float-left">
                            <h6 class="text-white text-bold">
                                <a href="/product/<%= element.productPermalink %>"
                                    class="text-white"><%= element.productName %></a><br>
                                by <a href="/brand/<%= element.productBrandPermalink %>"
                                    class="brand"><%= element.productBrand %></a>
                            </h6>
                        </div>
                        <!-- float left end -->

                        <!-- float right start -->
                        <div class="float-right">
                            <h3 class="category-product-price text-white price-tag">$<%= element.productPrice %></h3>
                        </div>
                        <!-- float right end -->
                    </div>
                    <!-- clearfix end -->
                </div>
                <!-- product title end -->
            </div>
            <!-- category product end -->
            <% }); %>
        </div>
        <!-- carousel end -->
    </div>
</section>
<!-- similar product end-->

<!-- other brands start-->
<section class="other-brand my-4">
    <div class="container">
        <div class="text-left d-block bg-light p-2 my-2 text-24">
            Other Brands
        </div>
        <!-- carousel start -->
        <div class="py-4 other-slider">
            <% diffBrandProduct.forEach(element => { %>
            <!-- category product start -->
            <div class="category-product px-2">
                <!-- product img start-->
                <div class="category-product-img">
                    <a href="/product/<%= element.productPermalink %>">
                        <img src="<%= element.productImg %>" alt="" srcset="">
                    </a>
                </div>
                <!-- product img end-->

                <!-- product title start -->
                <div class="category-product-title">
                    <!-- clearfix start -->
                    <div class="clearfix">
                        <!-- float left start -->
                        <div class="float-left">
                            <h6 class="text-white text-bold">
                                <a href="/product/<%= element.productPermalink %>"
                                    class="text-white"><%= element.productName %></a><br>
                                by <a href="/brand/<%= element.productBrandPermalink %>"
                                    class="brand"><%= element.productBrand %></a>
                            </h6>
                        </div>
                        <!-- float left end -->

                        <!-- float right start -->
                        <div class="float-right">
                            <h3 class="category-product-price text-white price-tag">$<%= element.productPrice %></h3>
                        </div>
                        <!-- float right end -->
                    </div>
                    <!-- clearfix end -->
                </div>
                <!-- product title end -->
            </div>
            <!-- category product end -->
            <% }); %>
        </div>
        <!-- carousel end -->
    </div>
</section>
<!-- other brands end-->

<%- include('footer');%>